* {
  box-sizing: border-box;
}

body {
  background: #fff;
  padding: 10px;
  top: 80px;
  font-family: 'EB Garamond', serif;
  word-spacing: 2.5;
}

h2, b {
  font-weight: bold;
}

h4 {
  font-size: 16px !important;
}

em {
  font-size: 12px;
}

a {
  color: black;
  margin: 0px;
  padding: 10px;
}

header {
  border: 500px;
  padding: 50px 100px:
  display: inline-block;
  position: static;
  top: 50px;
  bottom: 30px;
  background-color: lightblue !important;
  text-align: center;
  width: 100%;
}
